@charset "UTF-8";
/* CSS Document */

html * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: arial, sans-serif;
  font-size: 1vw;
  background: white;
}
mg {
  width: 100%;
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  -webkit-transform: translate3d(0,0,0);
          transform: translate3d(0,0,0);
}
a, a:visited {
    color: inherit;
}
header {
  position: fixed;
  padding: 1.5em;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}
.site-logo {
  position: relative;
  display: block;
  float: left;
  width: 3.1em;
}
.site-logo img {
  width: 3.1em;
}